#heads{
    text-align: center;
    padding: 10px;
    border: 20px;
    border-radius: 20px;
    background-image: linear-gradient(#74c9f1,#fb4040);
    color: #6d00fb;
    text-decoration: underline;
}

body{
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#jordans-1{
    height: 400px;
    width: 600px;
    float: left;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 3px 3px;
    color: #6d00fb;
}

#jordans-2{
    height: 400px;
    width: 600px;
    float: right;
    margin: 0 auto;
    box-shadow: -5px 3px 3px;
    color: red;
}


#jordans-1-desc {
    color: white;
    text-align: justify;
    width: 600px;
    float: left;
    padding: 10px 5px;
    border-radius: 20px;
    background-color: #74c9f1;
    text-decoration: none;
}

#jordans-2-desc{
    color: white;
    text-align: justify;
    width: 600px;
    float: right;
    padding: 10px 5px;
    border-radius: 20px;
    background-color: #fb4040;
    text-decoration: none;

}